/* CSS style sheet for ELLIS
 * European Laboratory for Learning and Intelligent Systems */
/* --------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500&display=swap');
body {
  padding:0; margin:0;
  font-family: 'Roboto', sans-serif; font-weight:300; line-height:140%;
}
h1, h2, h3, h4, h5, h6 {
  font-family:'Roboto',sans-serif; font-weight:400; line-height:100%;
  margin-top:1.5em; margin-bottom:0.5em;
  page-break-after:avoid;
}
b {
  font-family:'Roboto',sans-serif; font-weight:500;
}
p {
  margin-top:0.5em; margin-bottom:0.5em;
}
.nobreak, .person {
  -webkit-column-break-inside:avoid;
  page-break-inside:avoid;
  break-inside:avoid;
}
@media print {
  /* @page { margin-top:1.5cm; margin-bottom:1.5cm; } */
  body {
    background-color:white; color:black;
    font-size:12pt;
    text-align:justify;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after:avoid;
    break-after:avoid;
  }
}
/* --------------------------------------------------------------- */
.m800-red     { color:rgb(198,40,40); }
.m800-green   { color:rgb(46,125,50); }
.m800-amber   { color:rgb(255,143,0); }
.m800-dorange { color:rgb(216,67,21); }
.m800-blue    { color:rgb(21,101,192); }
.m800-cyan    { color:rgb(0,131,143); }
.m800-indigo  { color:rgb(40,53,147); }

.m700-green   { color:rgb(56,142,60); }
.m600-green   { color:rgb(67,160,71); }

.m500-red     { color:rgb(244,67,54); }
.m500-pink    { color:rgb(233,30,99); }
.m500-magenta { color:rgb(195,35,138); }
.m500-purple  { color:rgb(156,39,176); }
.m500-dpurple { color:rgb(103,58,183); }
.m500-indigo  { color:rgb(63,81,181); }
.m500-blue    { color:rgb(33,150,243); }
.m500-lblue   { color:rgb(3,169,244); }
.m500-cyan    { color:rgb(0,188,212); }
.m500-teal    { color:rgb(0,150,136); }
.m500-green   { color:rgb(76,175,80); }
.m500-lgreen  { color:rgb(139,195,74); }
.m500-lime    { color:rgb(205,220,57); }
.m500-yellow  { color:rgb(255,235,59); }
.m500-amber   { color:rgb(255,193,7); }
.m500-orange  { color:rgb(255,152,0); }
.m500-dorange { color:rgb(255,87,34); }
.m500-brown   { color:rgb(121,85,72); }
.m500-bgrey   { color:rgb(96,125,139); }
.m500-grey    { color:rgb(158,158,158); }

.m300-red     { color:rgb(229,115,115); }
.m300-pink    { color:rgb(240,98,146); }
.m300-magenta { color:rgb(213,101,173); }
.m300-purple  { color:rgb(186,104,200); }
.m300-dpurple { color:rgb(149,117,205); }
.m300-indigo  { color:rgb(121,134,203); }
.m300-blue    { color:rgb(100,181,246); }
.m300-lblue   { color:rgb(79, 195,247); }
.m300-cyan    { color:rgb(77, 208,225); }
.m300-teal    { color:rgb(77, 182,172); }
.m300-camblue { color:rgb(163,193,173); }
.m300-green   { color:rgb(129,199,132); }
.m300-lgreen  { color:rgb(174,213,129); }
.m300-lime    { color:rgb(220,231,117); }
.m300-yellow  { color:rgb(255,241,118); }
.m300-amber   { color:rgb(255,213,79 ); }
.m300-orange  { color:rgb(255,183,77 ); }
.m300-dorange { color:rgb(255,138,101); }
.m300-brown   { color:rgb(161,136,127); }
.m300-bgrey   { color:rgb(144,164,174); }
.m300-grey    { color:rgb(224,224,224); }
.dim { opacity:0.5; }
.hl { }
/* --------------------------------------------------------------- */
header {
  background-color:rgb(0,0,0); color:rgb(255,255,255);
  padding:0;
}
header div.head {
  padding:0.5em 5%;
}
header a[href] { color:rgb(77,182,172); /* m300 teal */ text-decoration:none; }
header a[href]:hover { color:rgb(255,183,77); /* m300 orange */ text-decoration:none; }
header a[href]:active { color:rgb(255,214,153); /* white */ text-decoration:none; }
@media screen {
  header {
    box-shadow:0.0em 0.1em 2em rgba(255,255,255,0.1);
  }
}
@media print {
  header {
    border-bottom:0.5pt solid rgb(128,128,128,0.2);
    background-color:rgb(128,128,128,0.1); color:currentColor;
  }
  header a[href] { color:rgb(0,150,136); /* m500 teal */ text-decoration:none; }
}
/* --------------------------------------------------------------- */
main {
  padding:0.75em 5% 1.5em 5%;
}
main a[href]        { color:rgb(63,81,181);  text-decoration:none; } /* m500-indigo */
main a[href]:hover  { color:rgb(33,150,243); text-decoration:none; } /* m500-blue */
main a[href]:active { color:rgb(236,64,122); text-decoration:none; } /* m400-pink */
/* --------------------------------------------------------------- */
section { margin-top:0; padding-top:0.5em; }
/* --------------------------------------------------------------- */
footer {
  background-color:rgb(0,0,0); color:rgb(255,255,255);
  padding:0.75em 5%;
  page-break-inside:avoid;
  break-inside:avoid;
}
@media screen {
  footer {
    box-shadow:0.0em -0.1em 2em rgba(255,255,255,0.1);
  }
}
@media print {
  footer {
    border-top:0.5pt solid rgb(128,128,128,0.2);
    background-color:rgb(128,128,128,0.1); color:currentColor;
    bottom:0; left:0; right:0;
  }
}
footer a[href] { color:rgb(213,101,173); /* m300 magenta */ text-decoration:none; }
footer a[href]:hover { color:rgb(255,183,77); /* m300 orange */ text-decoration:none; }
footer a[href]:active { color:rgb(255,214,153); /* white */ text-decoration:none; }
/* --------------------------------------------------------------- */
/* Layout adjustments for different display sizes */
/* (we'll allow more white-space for wider displays) */
@media (min-width: 50em) {
  main { padding:0.75em 7.5% 1.5em 7.5%; }
  header div.head { padding:0.5em 7.5% 0.5em 7.5%; }
  footer { padding:0.75em 7.5%; }
}
@media (min-width: 80em) {
  main { padding:0.75em 10% 1.5em 10%; }
  header div.head { padding:0.5em 10% 0.5em 10%; }
  footer { padding:0.75em 10%; }
}
/* --------------------------------------------------------------- */
/* Specific elements */
div.colrow {
  display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:center;
  width:100%;
}
div.seg {
  max-width:100%;
  box-sizing:border-box;
  width:100%; height:0.5ex; margin:0; padding:0; border:none;
  opacity:1.0;
  background-color:currentColor;
  flex-basis:0;
  flex-grow:1;
}
div.sponsor {
  position:relative;
  text-align:center;
  vertical-align:middle;
  margin:0.35em 0;
  padding:1em;
  border-radius:0.5ex;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-content:stretch;
  align-items:center;
}
div.sponsor .label {
  position:absolute; top:0; left:0;
  display:inline-block;
  font-weight:400;
  font-size:90%;
  padding:0.1ex 0.5ex;
  border-radius:0.5ex;
  border:1px solid transparent;
  box-shadow:0.1em 0.1em 0.25em rgba(0,0,0,0.25);
}
div.sponsor .hide {
  display:none;
}
div.sponsor .name {
  display:block;
  line-height:100%;
  flex-basis:0;
  flex-grow:1;
  text-align:center;
}
div.sponsor.platinum { background-color:rgba(152,152,162,0.08); color:currentColor; padding:3.5em 0em; }
div.sponsor.gold     { background-color:rgba(181,162,100,0.15); color:currentColor; padding:2.5em 0em; }
div.sponsor.silver   { background-color:rgba(167,167,173,0.2); color:currentColor; padding:2em 0em; }
div.sponsor.bronze   { background-color:rgba(169,129,98,0.2); color:currentColor; padding:1.5em 0em 1em 0em; }

div.sponsor.platinum .label {background-color:#d8d8e0; color:rgba(0,0,0,0.6); }
div.sponsor.gold     .label {background-color:#b5a264; color:rgba(255,255,255,0.75); }
div.sponsor.silver   .label {background-color:#a7a7ad; color:rgba(255,255,255,0.75); }
div.sponsor.bronze   .label {background-color:#a98162; color:rgba(255,255,255,0.75); }

div.sponsor.platinum .name { font-size:300%; font-weight:400; }
div.sponsor.gold     .name { font-size:200%; font-weight:400; }
div.sponsor.silver   .name { font-size:150%; font-weight:300; padding:0.25em 1em; }
div.sponsor.bronze   .name { font-size:100%; font-weight:300;
                             flex-basis:auto; padding:0.35em 1em;
                             line-height:120%;
                            }
/* --------------------------------------------------------------- */
/* Speech bubbles for quotes */
.bubble {
  position:relative;
  border-radius:1em;
  background-color:rgba(255,183,77,1.0); /* m300 orange */
  color:rgb(0,0,0);
  padding:1em 1.5em;
  margin-bottom:1.5em;
}
.bubble:after {
  content:'';
  position:absolute; bottom:0; left:20%;
  width:0; height:0;
  border:1.5em solid transparent;
  border-top-color:rgba(255,183,77,1.0); /* m300 orange */;
  border-bottom: 0;
  border-left: 0;
  margin-left: -0.75em;
  margin-bottom: -1.5em;
}
.bubble-caption {
  padding-left:1.5em;
  padding-right:1.5em;
  line-height:115%;
}
/* bubbles in different colours */
.bubble.orange {
  background-color:rgba(255,183,77,1.0); /* m300 orange */  color:rgb(0,0,0);
}
.bubble.orange:after {
  border-top-color:rgba(255,183,77,1.0); /* m300 orange */
}
.bubble.dorange {
  background-color:rgba(255,138,101,1.0); /* m300 deep orange */  color:rgb(0,0,0);
}
.bubble.dorange:after {
  border-top-color:rgba(255,138,101,1.0); /* m300 deep orange */
}
.bubble.pink {
  background-color:rgba(240,98,146,1.0); /* m300 pink */  color:rgb(0,0,0);
}
.bubble.pink:after {
  border-top-color:rgba(240,98,146,1.0); /* m300 pink */
}
.bubble.teal {
  background-color:rgba(77,182,172,1.0); /* m300 teal */  color:rgb(0,0,0);
}
.bubble.teal:after {
  border-top-color:rgba(77,182,172,1.0); /* m300 teal */
}
.bubble.green {
  background-color:rgba(129,199,132,1.0); /* m300 green */  color:rgb(0,0,0);
}
.bubble.green:after {
  border-top-color:rgba(129,199,132,1.0); /* m300 green */
}


div.bubbles-left  { margin:2em 0 0 20%; }
div.bubbles-right { margin:2em 20% 0 0; }
@media (max-width: 25em) {
  div.bubbles-left  { margin-left:0; }
  div.bubbles-right { margin-right:0; }
}
@media (min-width: 25em) {
  div.bubbles-left  { margin-left:20%; }
  div.bubbles-right { margin-right:20%; }
}
@media (min-width: 50em) {
  div.bubbles-left  { margin-left:25%; }
  div.bubbles-right { margin-right:25%; }
}
@media (min-width: 80em) {
  div.bubbles-left  { margin-left:30%; }
  div.bubbles-right { margin-right:30%; }
}
/* --------------------------------------------------------------- */
